$white: #fff;
$blackish: #222;
$react-link: #61dafb;

body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

h1,
h2,
h3,
h4,
h5 {
    color: $white;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    color: $white;

    a {
        color: $react-link;
    }
}