@import "../sass/Global";

.Nav {
    background-color: #fff;

    .nav-logo {
        position: relative;
        top: 3px;
        width: 40px;
    }

    ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px;
    }

    li {
        font-family: "Roboto";
        font-weight: 800;
        color: $blackish;
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &.page-views {
            flex: 1;
            text-align: right;
        }

        a {
            color: $blackish;
            text-decoration: none;
        }
    }
}